AGUME KENNETH S24B38/017  B30309

In [82]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [83]:
data = pd.read_excel("Student_performance.xlsx")
data

,Access_no,gender,age,course,DSC3108,DSC3114,MTH3108,SYE3104
0,123,female,21,Computer_Science,89.0,88.0,72,65
1,415,male,22,Computer_Science,91.0,98.0,88,89
2,321,male,21,Data_Science,73.0,70.0,38,41
3,124,female,21,Information_Technology,30.0,40.0,60,31
4,314,female,22,Computer_Science,70.0,75.0,78,60
5,891,male,21,Information_Technology,25.0,70.0,69,19
6,729,female,22,Data_Science,65.0,80.0,38,43
7,892,female,21,Data_Science,90.0,95.0,92,93
8,545,male,22,NaN,54.0,69.0,78,77
9,718,female,21,Information_Technology,NaN,78.0,79,88
10,390,male,22,Computer_Science,45.0,NaN,79,85

Basing on the dataset we can see some columns have missing values so, we can on a function to check and confirm the existence of the missing values

In [84]:
data.isnull().sum()

Access_no    0
gender       0
age          0
course       1
DSC3108      1
DSC3114      1
MTH3108      0
SYE3104      0
dtype: int64

# Filling in for our missing values

We use mode to fill in the missing values within 'course' since it's categorical thus basing on the most frequent used category value

In [85]:
data['course'].fillna(value=data["course"].mode()[0],inplace=True)

We use median to fill in the missing values within 'DSC3108' because it's continous data type and median provides a more stable estimate

In [86]:
data['DSC3108'].fillna(value=data['DSC3108'].median(),inplace=True)

We use mean to fill in missing values within 'DSC3114' beacause it ensures that missing values are replaced with a single consistent value

In [87]:
data['DSC3114'].fillna(value=data['DSC3114'].mean(),inplace=True)

We check for missing values again to know the status of our dataset

In [88]:
data.isnull().sum()

Access_no    0
gender       0
age          0
course       0
DSC3108      0
DSC3114      0
MTH3108      0
SYE3104      0
dtype: int64

# The probability of a  student studying Information_Technology

In [89]:
Information_Technology = data[data['course'] == "Information_Technology"]['course'].count()
#View results
Information_Technology

np.int64(3)

In [90]:
#Probability of total Information_Technology
Information_Technology_total = data['course'].count()
#View result
print(f'The total is: {Information_Technology_total}')

The total is: 11

In [91]:
# probaility of Information_Technology
probabilty_of_Infornation_Technology = Information_Technology/Information_Technology_total
print(f"The probabilty is: {probabilty_of_Infornation_Technology}")

The probabilty is: 0.2727272727272727

# The probability of a female student studying Computer_Science

No of female students doing computer_science

In [92]:
Computer_Science = data[data['course'] == 'Computer_Science']['course'].count()
#View results
Computer_Science

np.int64(5)

In [93]:
# filter our data
filtered_data = (data['course'] == 'Computer_Science') & (data['gender'] == 'female')
filtered_data

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [94]:
fdcs = data[filtered_data]['course'].count()
print(f'The number of female students doing computer science: {fdcs}')

The number of female students doing computer science: 2

In [95]:
# probability of female students doing Computer_Science
pfdcs = fdcs/Computer_Science
print(f"The probability of females doing Computer_Scienec: {pfdcs}")

The probability of females doing Computer_Scienec: 0.4

# A male student studying Data_Science

In [96]:
Data_Science = data[data['course'] == 'Data_Science']['course'].count()
Data_Science

np.int64(3)

In [97]:
filtered_data = (data['course'] == 'Data_Science') & (data['gender'] == 'male')
filtered_data

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [98]:
mdds = data[filtered_data]['course'].count()
print(f"The number of male studebts doing Data Science is: {mdds}")

The number of male studebts doing Data Science is: 1

In [99]:
# probability of a male student doing Data science
msdds = mdds/Data_Science
print(f"The probability of a male student doing Data Science is: {msdds}")

The probability of a male student doing Data Science is: 0.3333333333333333